[submodule "spCoinHHContractTests"]
	path = spCoinHHContractTests
	url = git@github.com:sponsorCoinAdmin/spCoinHHContractTests.git
[submodule "dev-contracts-spcoin"]
	path = dev-contracts-spcoin
	url = git@github.com:sponsorCoinAdmin/dev-contracts-spcoin.git
[submodule "spcoin-jmeter-tests"]
	path = spcoin-jmeter-tests
	url = git@github.com:sponsorCoinAdmin/spcoin-jmeter-tests.git
[submodule "spcoin-docs"]
	path = spcoin-docs
	url = git@github.com:sponsorCoinAdmin/spcoin-docs.git
